/*-- Reset-Code --*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
a{text-decoration:none;}
img{max-width:100%;}
body {
	padding: 0;
	margin: 0;
	background: url(../images/cloud.jpg) no-repeat 0px 0px;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}
body a {
	transition: 0.5s all;
	text-decoration: none;
	letter-spacing:1px;
	font-size:15px;
	font-weight:600;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
	letter-spacing:1px;
		
}
.clear{
	clear:both;
}
p {
	margin: 0;
	color:#777;
	letter-spacing:1px;
	line-height:1.8em;
	font-size:14px;
	font-weight:400;
}

img{
	width:100%;
}


input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px 10px 12px 10px;
	width:90%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
input[type="email"] {
	font-size: 15px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    padding: 12px 10px 12px 10px;
	width:90%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
input[type="Password"] {
	font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px 10px 12px 10px;
	width:90%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
.input-group {
    margin-bottom: 15px;
	padding: 0px 10px;
	border: 1px solid #bbb;
}
.btn-box2 {
    display: block;
    width: 100%;
}

.btn-box1{
    color: #fff;
    background-color:#87CEFA ;
    margin-top: 15px;
	outline:none;
    padding:15px 12px;
	cursor:pointer;
	letter-spacing: 2px;
	font-size: 15px;
    font-weight: 600;
	border: none;
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	transition: 0.5s all;
}


.btn-box1:hover{
	background-color:#333;
}
.demo1 h2 {
  display: inline-block;
    font-size: 26px;
    margin-bottom: 10px;
    color:#87CEFA;
    letter-spacing: 2px;	
}
.demo1 h4 {
    display: inline-block;
    font-size: 15px;
	padding: 8px 0px;
    color: #444;
    text-transform: capitalize;
}
span.fa.fa-facebook {
    vertical-align: middle;
    font-size: 20px;
    padding-left: 20px;
}
 ::-webkit-input-placeholder {
color:#777 !important;
}
:-moz-placeholder { /* Firefox 18- */
color:#777 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
color:#777 !important;
letter-spacing:5px;
}
:-ms-input-placeholder {  
color:#777 !important;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin: 30px 0px;
    letter-spacing: 3px;
	color: #fff;
	font-weight:500;
}
.demo1 {
    flex-basis: 50%;
    box-sizing: border-box;
	padding: 4em;
    background-color: #fff;
}
.left_box {
    padding: 8em 2em;
}
.left_box h3 {
    color: #fff;
    font-size: 2.2em;
}
.left_box h4 {
    color: #fff;
    font-size: 1.2em;
	margin: 1em 0;
	line-height: 28px;
    font-weight: 500;
    text-transform: capitalize;
}


.whole_info {
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.Big_demo{
    padding: 0px;
    flex-basis: 50%;
	background:#333;
}
.demo1 p {
    padding-bottom: 20px;
}
h3.w3ls {
    margin: 10px 0px;
    padding-left: 60px;
}
h3.agileits {
    padding-left: 10px;
}
.container {
    width: 65%;
    margin: 0 auto;
}
i.user {
   font-size: 16px;
    vertical-align: middle;
    color:#01cd74;
	box-sizing:border-box;
	float:left;
	width:6%;
    margin-top: 13px;
    text-align: center;
}
i.envelope {
   font-size: 16px;
    vertical-align: middle;
    color: #01cd74;
	box-sizing:border-box;
	float:left;
	width:6%;
    margin-top: 13px;
    text-align: center;
}
i.lock {
    font-size: 16px;
    vertical-align: middle;
    color: #01cd74;
	box-sizing:border-box;
	float:left;
	width:6%;
    margin-top: 13px;
    text-align: center;
}
h5 {
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 600;
	    color: #000;
}

@media screen and (max-width: 1600px){
	
}
@media screen and (max-width: 1440px){
	.container {
		width: 70%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1280px){
	.container {
		width: 75%;
	}
}
@media screen and (max-width: 1080px){
	.container {
		width: 80%;
	}
	.left_box {
		padding: 4em 3em;
	}
	.demo1 {
		padding: 3em 3em;
	}
	.left_box h4 {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 1024px){
	.left_box h3 {
		font-size: 2em;
	}
	.container {
		width: 84%;
	}
}
@media screen and (max-width: 991px){
	.demo1 h2 {
		font-size: 24px;
	}
	p {
		font-size: 13px;
	}
	h1 {
		font-size: 40px;
		letter-spacing: 2px;
	}
}
@media screen and (max-width: 900px){
	
	.container {
		width: 90%;
	}
	.left_box h4 {
		font-size: 1em;
	}
}
@media screen and (max-width: 800px){
	input[type="text"],input[type="email"],input[type="password"] {
		font-size: 14px;
	}
	i.user,i.envelope,i.lock {
		margin-top: 10px;
	}
}
@media screen and (max-width: 768px){
	.container {
		width: 95%;
	}
	.left_box {
		padding: 4em 3em;
	}
}
@media screen and (max-width: 736px){
	.left_box {
		padding: 6em 2em;
	}
	.left_box h3 {
		font-size: 1.7em;
	}
	.demo1 h2 {
		font-size: 22px;
	}
	.demo1 {
		padding: 3em 2em;
	}
	.footer p {
		font-size: 14px;
	}
	.demo1 h4 {
		font-size: 14px;
	}
	.btn-box1 {
		padding: 13px 12px;
		font-size: 14px;
	}
}
@media screen and (max-width: 640px){
	.Big_demo {
		padding: 3em 4em;
		float: none;
		margin: 0 auto;
	}
	.left_box {
		padding: 0;
	}
	.demo1 {
		padding: 3em 4em;
		margin: 0 auto;
	}
	h1 {
		font-size: 37px;
	}
	.whole_info  {
		flex-direction: column;
	}
}
@media screen and (max-width: 480px){
	.Big_demo {
		padding: 3em;
	}
	.demo1{
		padding: 3em;
	}
	h1 {
		font-size: 34px;
	}
}
@media screen and (max-width: 414px){
	.Big_demo {
		padding: 3em 2em;
	}
	.demo1 {
		padding: 2em;
	}
	h1 {
		font-size: 28px;
		letter-spacing: 1px;
	}
	.left_box p {
		font-size: 13px;
	}
}
@media screen and (max-width: 384px){
	.left_box h4 {
		font-size: .9em;
	}
	.left_box p {
		letter-spacing: .5px;
	}
}
@media screen and (max-width: 375px){
	.left_box h3 {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 320px){
	h1 {
		font-size: 25px;
		letter-spacing: 1px;
	}
	.btn-box1 {
		padding: 13px 12px;
		font-size: 13px;
	}
	input[type="text"], input[type="email"], input[type="password"] {
		font-size: 13px;
	}
	.demo1 h2 {
		font-size: 20px;
		letter-spacing: 1px;
	}
}


